<h1><%= @tutor.name %> <%= @tutor.surname %></h1>
<p>Specialization: <%= @tutor.tutor_specialization %></p>
<p>Hourly Price: $<%= @tutor.hourly_price %></p>

<h2>Lessons</h2>
<% if @lessons.any? %>
  <ul>
    <% @lessons.each do |lesson| %>
      <li>
        Lesson on <%= lesson.lesson_date.strftime("%B %d, %Y") %>
        <%= link_to "Edit", edit_tutor_lesson_path(@tutor, lesson), class: "button" %>
        <%= link_to "Delete", tutor_lesson_path(@tutor, lesson), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "button delete-button" %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No lessons scheduled.</p>
<% end %>

<!-- Add Lesson Button (Only show if @tutor is persisted in the database) -->
<% if @tutor.persisted? %>
  <%= link_to "Add Lesson", new_tutor_lesson_path(@tutor), class: "button" %>
<% end %>

<!-- Edit Button -->
<%= link_to 'Edit Tutor', edit_tutor_path(@tutor), class: "button" %>

<!-- Delete Button -->
<%= link_to "Delete", tutor_path, data: {turbo_method: 'delete', turbo_confirm: "Are you sure?" } %>
<!-- Back Button -->
<%= link_to 'Back to Tutors List', tutors_path, class: "button" %>

