<h1>Edit Lesson for <%= @tutor.name %> <%= @tutor.surname %></h1>

<%= form_with(model: [@tutor, @lesson], local: true) do |form| %>
  <% if @lesson.errors.any? %>
    <div class="error-messages">
      <h2><%= pluralize(@lesson.errors.count, "error") %> prevented this lesson from being saved:</h2>
      <ul>
        <% @lesson.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :lesson_date, "Lesson Date" %>
    <%= form.date_field :lesson_date %>
  </div>

  <div>
    <%= form.submit "Update Lesson" %>
  </div>
<% end %>

<%= link_to 'Back to Tutor', tutor_path(@tutor) %>
